<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BCoburn_GOL_C202209.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BCoburn_GOL_C202209.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BCoburn_GOL_C202209.Properties.Settings>
            <setting name="BorderMode" serializeAs="String">
                <value>Finite</value>
            </setting>
            <setting name="DisplayNumbers" serializeAs="String">
                <value>Yes</value>
            </setting>
            <setting name="ShowHUD" serializeAs="String">
                <value>Yes</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>Yes</value>
            </setting>
            <setting name="UniverseWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UniverseHeight" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TimeInterval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CellColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="UniverseColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="HUDColor" serializeAs="String">
                <value>192, 0, 192</value>
            </setting>
        </BCoburn_GOL_C202209.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BCoburn_GOL_C202209.Properties.Settings>
            <setting name="BorderModeDefault" serializeAs="String">
                <value>Finite</value>
            </setting>
            <setting name="DisplayNumbersDefault" serializeAs="String">
                <value>Yes</value>
            </setting>
            <setting name="ShowHUDDefault" serializeAs="String">
                <value>Yes</value>
            </setting>
            <setting name="ShowGridDefault" serializeAs="String">
                <value>Yes</value>
            </setting>
            <setting name="UniverseWidthDefault" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UniverseHeightDefault" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TimeIntervalDefault" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CellColorDefault" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="UniverseColorDefault" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GridColorDefault" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="HUDColorDefault" serializeAs="String">
                <value>192, 0, 192</value>
            </setting>
        </BCoburn_GOL_C202209.Properties.Settings>
    </applicationSettings>
</configuration>